<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
       Options -MultiViews -Indexes
    </IfModule>
    Options +FollowSymLinks
	
	<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak)$">
		Order Allow,Deny
		Deny from all
	</FilesMatch>
	
	<FilesMatch gmail.json|events.sample.json|gmail.sample.json>
		Order Allow,Deny
		Deny from all
	</FilesMatch>

	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^([^/]+)/?([^/]+)?/?$ index.php?resource=$1&subresource=$2 [QSA,L]

	RewriteCond %{REQUEST_URI} \.php [NC]
	RewriteRule ^([^/]+)/?([^/]+)?/?$ index.php?resource=$1&subresource=$2 [QSA,L]

</IfModule>